<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/myhibernate</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">#@incorrect</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

<!--        ye property automatically table create kar degi ,, or uske baad uss table par agar -->
<!--        kuch operation perform ho rhe honge usko update bhi kar degi-->
        <property name="hibernate.hbm2ddl.auto">update</property>
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->

<!--        ye property hai SQL ko show karwane ke liye-->
        <property name="show_sql">true</property>

<!--        hum apne class ko map kar rahe hai,, means hibernate upar waali configuration ko pdh kar
            samjh jaayega ki mere paas ek class hai ,, jisko as a entity treat karwana hai -->
        <mapping class="org.example.Student"/> <!-- Replace with your own model class -->
        <mapping class="org.example.Address"/> <!-- Replace with your own model class -->

    </session-factory>
</hibernate-configuration>



